.navbar {
    display: inline-block;
    /* color: var(--white-color); */
    color: #c61717;
    font-family: var(--title-font-family); 
    font-size: var(--menu-font-size);
    font-weight: var(--font-weight-medium);
    text-transform: uppercase;
    letter-spacing: 0.5px;
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
  }